*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Chivo", sans-serif;
  width: 100vw;
  height: 100vh; }

.active-hack {
  color: #C960FF; }

.active-w {
  color: #1BC3A9; }

.active-ai {
  color: #1EBDF4; }

.active-icpc {
  color: #FF6B6B; }

.active-studio {
  color: #FB4469; }

.active-cyber {
  color: #FFBA44; }

.active-design {
  color: #FE823C; }

.active-teachla {
  color: #A1D900; }

/* ----------------------------------*/
.active-hack-bg {
  background-color: #C960FF; }

.active-w-bg {
  background-color: #1BC3A9; }

.active-ai-bg {
  background-color: #1EBDF4; }

.active-icpc-bg {
  background-color: #FF6B6B; }

.active-studio-bg {
  background-color: #FB4469; }

.active-cyber-bg {
  background-color: #FFBA44; }

.active-design-bg {
  background-color: #FE823C; }

.active-teachla-bg {
  background-color: #A1D900; }

.content {
  width: auto; }

.content-body {
  padding: 150px 15% 50px;
  font-size: 20px;
  color: #242424; }
  .content-body h1, .content-body h2, .content-body h3 {
    font-family: "Palanquin Dark", sans-serif;
    margin-bottom: 0em;
    margin-top: 1.5em;
    clear: both; }
  .content-body h1 {
    line-height: 1em; }
  .content-body p {
    line-height: 1.6em; }
  .content-body .button {
    display: table;
    margin-top: 10px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-weight: 700;
    color: #2E2E2E;
    font-size: 0.75em;
    text-align: center;
    border-radius: 30.27px;
    background-color: #DADADA;
    width: auto;
    clear: both; }
    .content-body .button:hover {
      background-color: #3B59ED;
      color: white;
      transition: 0.1s; }
    .content-body .button:active {
      transform: translateY(3px);
      box-shadow: 0px 0px;
      transition: 0.1s; }
  .content-body #logo {
    display: block;
    max-width: 150px;
    margin: 0 auto; }
  .content-body .image-full-width {
    max-width: 100%; }

.committee-container {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  width: 25em;
  transition: 0.2s; }
  .committee-container:hover {
    transform: scale(1.08); }
  .committee-container.committee-title {
    font-size: 20px;
    transition: none; }
    .committee-container.committee-title:hover {
      transform: none; }
  .committee-container .committee-logo {
    float: left;
    width: 8em;
    padding: 0.8em; }
    .committee-container .committee-logo img {
      max-width: 100%; }
  .committee-container .committee-description {
    float: right;
    width: 17em;
    color: #242424; }
    .committee-container .committee-description h1 {
      font-family: "Poppins", sans-serif;
      margin-top: 1.25em; }
    .committee-container .committee-description p {
      margin-top: 0.25em;
      line-height: 1.2em; }

.color-container {
  display: inline-block;
  vertical-align: top;
  background-color: #DADADA;
  width: 160px;
  font-size: 12px;
  margin: 10px 5px 0 0;
  border-radius: 5px;
  border: 1px solid rgba(218, 218, 218, 0.1);
  height: 135px; }
  .color-container .color {
    height: 50px;
    border-radius: 5px 5px 0 0; }
  .color-container .color-label {
    padding: 10px;
    height: 95px;
    border-radius: 0 0 5px 5px;
    font-size: 14px; }
    .color-container .color-label .color-name {
      font-weight: 700; }
    .color-container .color-label p {
      margin: 0; }

.dl-container {
  display: inline-block;
  vertical-align: top;
  background-color: #F5F5F5;
  width: 190px;
  font-size: 0.75em;
  margin: 10px 5px 0 0;
  border-radius: 5px; }
  .dl-container .dl-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    color: #2E2E2E;
    border-radius: 0px 0px 5px 5px;
    border: 0.5px solid #CFCFCF;
    height: 60px; }
    .dl-container .dl-title img {
      width: 100%;
      max-width: 13px;
      padding-left: 3px;
      transition: 0.5s; }
      .dl-container .dl-title img:hover {
        transform: scale(1.08); }
  .dl-container .dl-content-light {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px 5px 0px 0px;
    border: 0.5405px solid #CFCFCF;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95px; }
    .dl-container .dl-content-light img {
      width: 100%;
      transition: 0.5s; }
      .dl-container .dl-content-light img:hover {
        transform: scale(1.08); }
  .dl-container .dl-content-dark {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px 5px 0px 0px;
    border: 0.5405px solid #CFCFCF;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95px;
    background: black; }
    .dl-container .dl-content-dark img {
      width: 100%;
      transition: 0.5s; }
      .dl-container .dl-content-dark img:hover {
        transform: scale(1.08); }

.type-container {
  border-left: 10px solid #242424;
  margin-left: -30px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #DADADA; }
  .type-container h1 {
    font-size: 3em;
    margin-top: 0;
    line-height: 2em;
    font-family: inherit; }
  .type-container p {
    margin: 0;
    font-size: 1.2em; }
    .type-container p.type-upper {
      text-transform: uppercase; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.navigation {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: white;
  display: table;
  /* The 'About' and 'Guidelines' links -- 'Committees' is separate due to dropdown menu */ }
  .navigation .links {
    display: block;
    float: right;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    padding: 30px 12.5% 30px 30px;
    /* prep for mobile layout */ }
    .navigation .links a {
      vertical-align: middle;
      padding: 0 2.5vw 0;
      text-decoration: none; }
      .navigation .links a:hover {
        opacity: 0.7; }
    @media screen and (max-width: 900px) {
      .navigation .links {
        display: none; } }

/* 'Committees' link */
.navigation-committee {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /* the individual committee buttons when dropped down */ }
  .navigation-committee .dropbtn {
    font-family: inherit;
    font-weight: inherit;
    border: none;
    cursor: pointer; }
  .navigation-committee .dropdown-content {
    display: none;
    position: absolute;
    background-color: #242424;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* individual links */ }
    .navigation-committee .dropdown-content a {
      padding: 16px 16px;
      text-decoration: none;
      text-align: left;
      display: block; }
      .navigation-committee .dropdown-content a:hover {
        opacity: 0.7; }
  .navigation-committee:hover .dropdown-content {
    display: block; }

/* 'acm at UCLA' logo */
.navigation-home {
  float: left;
  padding: 25px 0 15px 15%; }

.active {
  color: #3B59ED; }

.not-active {
  color: #3A3A3A; }

.committee-not-active {
  color: white; }

footer {
  height: 220px;
  width: 100vw;
  font-family: "Palanquin Dark", sans-serif;
  color: white;
  background-color: #181818;
  text-align: center;
  position: relative;
  /* social media logos/links, vertical line, and email */
  /* ACM Design logo */
  /* ACM at UCLA (acm.commitee) 
       made and maintained by... */ }
  footer .socials {
    float: left;
    position: absolute;
    padding-left: 15%;
    line-height: 100%;
    margin: 0;
    top: 50%;
    transform: translateY(-60%); }
    footer .socials a {
      vertical-align: middle;
      display: inline-block;
      padding-right: 20px;
      text-decoration: none; }
    footer .socials .vl {
      vertical-align: middle;
      display: inline-block;
      border-left: 1.5px solid white;
      height: 20px; }
    footer .socials #email {
      line-height: 100%;
      vertical-align: middle;
      text-align: center;
      display: inline-block;
      padding-left: 20px;
      padding-bottom: 5px;
      font-style: normal;
      font-weight: 200;
      font-size: 11px; }
  footer .logo {
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-60%);
    margin-right: 15%;
    float: right;
    height: 70px;
    width: 70px; }
  footer #committee-name {
    text-align: left;
    padding-left: 15%;
    top: 130px;
    float: left;
    position: relative;
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 1.5em; }
