*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Chivo", sans-serif;
  width: 100vw;
  height: 100vh;
}

footer {
  height: 70px;
  padding-top: 20px;
  font-family: "Palanquin Dark", sans-serif;
  background-color: #2E2E2E;
  color: white;
  text-align: center;
}
footer p {
  margin: 0;
}

.navigation {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #242424;
}
.navigation ul {
  padding: 0 0 0 30px;
  line-height: 50px;
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
}
.navigation ul a {
  text-decoration: none;
}
.navigation ul a:hover {
  opacity: 0.7;
}
.navigation ul li {
  font-family: "Poppins", sans-serif;
}

.navigation-home {
  font-family: "Poppins", sans-serif;
  background-color: #2E2E2E;
}
.navigation-home a {
  text-decoration: none;
}
.navigation-home a h2 {
  line-height: 60px;
  color: #3B59ED;
  font-weight: 500;
  margin: 0;
  padding: 10px 0px 10px 30px;
}
.navigation-home a span {
  color: white;
  font-weight: 700;
}

.navigation-committee {
  left: 50px;
}

.active {
  color: #3B59ED;
}

.not-active {
  color: white;
}

.page-header {
  position: fixed;
  left: 250px;
  width: 100%;
  margin: 0;
  padding: 10px 250px 10px 0px;
  line-height: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  background-color: white;
  border-bottom: 2px solid #DADADA;
  box-sizing: border-box;
  text-align: center;
}

.active-hack {
  color: #C960FF;
}

.active-w {
  color: #1BC3A9;
}

.active-ai {
  color: #1EBDF4;
}

.active-icpc {
  color: #FF6B6B;
}

.active-studio {
  color: #FB4469;
}

.active-cyber {
  color: #FFBA44;
}

.active-design {
  color: #FE823C;
}

.active-teachla {
  color: #A1D900;
}

.content {
  margin-left: 250px;
  width: auto;
}

.content-body {
  padding: 150px 20% 50px;
  font-size: 20px;
  color: #242424;
}
.content-body h1, .content-body h2, .content-body h3 {
  font-family: "Palanquin Dark", sans-serif;
  margin-bottom: 0em;
  margin-top: 1.5em;
  clear: both;
}
.content-body h1 {
  line-height: 1em;
}
.content-body p {
  line-height: 1.6em;
}
.content-body .button {
  display: table;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #2E2E2E;
  font-size: 0.75em;
  text-align: center;
  border-radius: 5px;
  background-color: #DADADA;
  box-shadow: 0px 3px #242424;
  width: auto;
  clear: both;
}
.content-body .button:hover {
  background-color: #3B59ED;
  color: white;
  transition: 0.1s;
}
.content-body .button:active {
  transform: translateY(3px);
  box-shadow: 0px 0px;
  transition: 0.1s;
}
.content-body #logo {
  display: block;
  max-width: 150px;
  margin: 0 auto;
}
.content-body .image-full-width {
  max-width: 100%;
}

.committee-container {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  width: 25em;
  transition: 0.2s;
}
.committee-container:hover {
  transform: scale(1.08);
}
.committee-container.committee-title {
  font-size: 20px;
  transition: none;
}
.committee-container.committee-title:hover {
  transform: none;
}
.committee-container .committee-logo {
  float: left;
  width: 8em;
  padding: 0.8em;
}
.committee-container .committee-logo img {
  max-width: 100%;
}
.committee-container .committee-description {
  float: right;
  width: 17em;
  color: #242424;
}
.committee-container .committee-description h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 1.25em;
}
.committee-container .committee-description p {
  margin-top: 0.25em;
  line-height: 1.2em;
}

.color-container {
  display: inline-block;
  vertical-align: top;
  background-color: #DADADA;
  width: 160px;
  font-size: 12px;
  margin: 10px 5px 0 0;
  border-radius: 5px;
  border: 1px solid rgba(218, 218, 218, 0.1);
  height: 135px;
}
.color-container .color {
  height: 50px;
  border-radius: 5px 5px 0 0;
}
.color-container .color-label {
  padding: 10px;
  height: 95px;
  border-radius: 0 0 5px 5px;
  font-size: 14px;
}
.color-container .color-label .color-name {
  font-weight: 700;
}
.color-container .color-label p {
  margin: 0;
}

.dl-container {
  display: inline-block;
  vertical-align: top;
  background-color: #DADADA;
  width: 160px;
  font-size: 12px;
  margin: 10px 5px 0 0;
  border-radius: 5px;
}
.dl-container .dl-title {
  padding: 10px;
  background-color: #2E2E2E;
  color: white;
  border-radius: 5px 5px 0 0;
}
.dl-container .dl-content {
  padding: 20px;
  border-radius: 0 0 5px 5px;
  min-height: 70px;
}
.dl-container .dl-content img {
  width: 100%;
  transition: 0.5s;
}
.dl-container .dl-content img:hover {
  transform: scale(1.08);
}

.type-container {
  border-left: 10px solid #242424;
  margin-left: -30px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #DADADA;
}
.type-container h1 {
  font-size: 3em;
  margin-top: 0;
  line-height: 2em;
  font-family: inherit;
}
.type-container p {
  margin: 0;
  font-size: 1.2em;
}
.type-container p.type-upper {
  text-transform: uppercase;
}

/*# sourceMappingURL=master.css.map */
