<!-- <div class="dl-container col-4 shadow">
        <div class="dl-content-dark">
            <a href="{{ site.baseurl }}/assets/{{ file }}" download><img src="{{ site.baseurl }}/assets/{{ file }}"></a>
        </div>
        <div class="dl-title">
            {{ title }}
            <a href="{{ site.baseurl }}/assets/{{ file }}" download><img src="{{ site.baseurl }}/assets/home/download-button.svg"></a>
        </div>
    </div> -->

<div class="card col-mb-2 shadow">
    <div class="dark-background card-square centered-content">
        <a href="{{ site.baseurl }}/assets/{{ file }}" download><img src="{{ site.baseurl }}/assets/{{ file }}"></a>
    </div>
    <div class="centered-content card-body">
        {{ title }}
        <a href="{{ site.baseurl }}/assets/{{ file }}" download><img
                src="{{ site.baseurl }}/assets/home/download-button.svg"></a>
    </div>
</div>