<div class="color-grid-container">
    <div id="primary" style="background-color: {{ hex }}">
        <div class = "color-text">
            {{ rgb }}
            <br>
            {{ hex }}
        </div>
    </div>
    <div id="primary-text" class="grid-text">Primary Color</div>
    <div id="secondary-1" style="background-color: {{ hex }}">
        <div class = "color-text">
            {{ rgb }}
            <br>
            {{ hex }}
        </div>
    </div>
    <div id="secondary-2" style="background-color: {{ hex }}">
        <div class = "color-text">
            {{ rgb }}
            <br>
            {{ hex }}
        </div>
    </div>
    <div id="secondary-3" style="background-color: {{ hex }}">
        <div class = "color-text">
            {{ rgb }}
            <br>
            {{ hex }}
        </div>
    </div>
    <div id="secondary-text" class="grid-text">Secondary Colors</div>
    <div id="accent" style="background-color: {{ hex }}">
        <div class = "color-text">
            {{ rgb }}
            <br>
            {{ hex }}
        </div>
    </div>
    <div id="acccent-text" class="grid-text">Accent Color</div>
    <div id="gradient" style="background-color: {{ hex }}">
        <div class = "color-text">
            {{ rgb }}
            <br>
            {{ hex }}
        </div>
    </div>
    <div id="gradient-text" class="grid-text">Gradient</div>
    

    
  </div>