<div class="color-grid-container">
    <div id="primary">
        <div class = "color-text">
            rgb 32984739
        </div>
    </div>
    <div id="primary-text" class="grid-text">1</div>
    <div id="secondary-1">
        <div class = "color-text">
            rgb 32984739
        </div>
    </div>
    <div id="secondary-2">
        <div class = "color-text">
            rgb 32984739
        </div>
    </div>
    <div id="secondary-3">
        <div class = "color-text">
            rgb 32984739
        </div>
    </div>
    <div id="secondary-text" class="grid-text">1</div>
    <div id="accent">
        <div class = "color-text">
            rgb 32984739
        </div>
    </div>
    <div id="acccent-text" class="grid-text">1</div>
    <div id="gradient">
        <div class = "color-text">
            rgb 32984739
        </div>
    </div>
    <div id="gradient-text" class="grid-text">1</div>
    

    
  </div>