<div class="committee-container">
    <a href="{{ site.baseurl }}/{{ include.committee.url }}">
        <div class="committee-logo">
            <img src="{{ site.baseurl }}/assets/logos/{{ include.committee.filename }}-logo.png">
        </div>
    </a>
    <a href="{{ site.baseurl }}/{{ include.ommittee.url }}">
        <div class="committee-description">
            <h1> ACM
                <span style="color: #{{ include.committee.hex }}; font-weight:400">{{ include.committee.title }}</span>
            </h1>
            <p> {{ include.committee.tagline }} </p>
        </div>
    </a>
</div>