{% if page.url contains committee.filename %}
  <footer class="active-{{ committee.filename }}-bg">
    <div class="socials">
        <a href="https://www.facebook.com/uclaacm"><img src="{{ site.baseurl }}/assets/socials/facebook-logo.svg"></a>
        <a href="https://www.instagram.com/acm.ucla/"><img src="{{ site.baseurl }}/assets/socials/instagram-logo.svg"></a>
        <a href="https://www.uclaacm.com/"><img src="{{ site.baseurl }}/assets/socials/acm-logo.svg"></a>
        <a href="https://discord.gg/eWmzKsY"><img src="{{ site.baseurl }}/assets/socials/discord-logo.svg"></a>
      <div class="vl"></div>
      <p id="email"><a href="mailto:acm@ucla.edu" style="color: white;">acm@ucla.edu</a></p>
    </div>
    <img src="{{ site.baseurl }}/assets/logos/design-logo-light.png" class="logo">
    <p id="committee-name">ACM at UCLA acm.{{ committee.filename }} &copy
      <br>Made with ♥ by acm.design &copy 2020
    </p>
  </footer>
{% else %}
  <footer>
    <div class="socials">
        <a href="https://www.facebook.com/uclaacm"><img src="{{ site.baseurl }}/assets/socials/facebook-logo.svg"></a>
        <a href="https://www.instagram.com/acm.ucla/"><img src="{{ site.baseurl }}/assets/socials/instagram-logo.svg"></a>
        <a href="https://www.uclaacm.com/"><img src="{{ site.baseurl }}/assets/socials/acm-logo.svg"></a>
        <a href="https://discord.gg/eWmzKsY"><img src="{{ site.baseurl }}/assets/socials/discord-logo.svg"></a>
      <div class="vl"></div>
      <p id="email"><a href="mailto:acm@ucla.edu" style="color: white;">acm@ucla.edu</a></p>
    </div>
    <img src="{{ site.baseurl }}/assets/logos/design-logo-light.png" class="logo">
    <p id="committee-name">ACM at UCLA &copy
      <br>Made with ♥ by acm.design &copy 2020
    </p>
  </footer>
{% endif %}
