<div class="guidelines-color-grid-container col-1">
    <div id="primary" style="background-color: #1E6CFF">
        <div class="color-text">
            (30, 108, 255)
            <br>
            #1E6CFF
        </div>
    </div>
    <div id="primary-text" class="grid-text">
        <h3>Primary Color</h3>
        <p>The primary color is the main identy of the committee.
            As such, they should be used a base color for
            various UX/UI/graphic design elements, most notably the logomark.
        </p>
    </div>
    <div id="secondary-1" style="background-color: #3DA2FF">
        <div class="color-text">
            (61, 162, 255)
            <br>
            #3DA2FF
        </div>
    </div>
    <div id="secondary-2" style="background-color: #0057FF">
        <div class="color-text">
            (0, 87, 255)
            <br>
            #0057FF
        </div>
    </div>
    <div id="secondary-3" style="background-color: #091BB9">
        <div class="color-text">
            (9, 27, 185)
            <br>
            #091BB9
        </div>
    </div>
    <div id="secondary-text" class="grid-text">
        <h3>Secondary Colors</h3>
        <p>Secondary colors are slight variations of the primary color.
            They are to be used alongside the primary color to
            add variety to the overall color palette.
        </p>
    </div>
    <div id="accent" style="background-color: #3DD0FF">
        <div class="color-text">
            (61, 208, 255)
            <br>
            #3DD0FF
        </div>
    </div>
    <div id="accent-text" class="grid-text">
        <h3>Accent Color</h3>
        <p>Accent colors are used for certain elements
            that shouldbe emphasized over others,such as buttons on a webpage.
        </p>
    </div>
    <div id="gradient" style="background: linear-gradient(90deg, rgb(41, 140, 255) 0%, rgb(15, 68, 255) 100%);">
        <div class="color-text">
            (41, 140, 255)
            (15, 68, 255)
            <br>
            #298CFF
            #0F44FF
        </div>
    </div>
    <div id="gradient-text" class="grid-text">
        <h3>Gradient</h3>
        <p>Linear gradients are mainly used in wordmarks,
            as well as specific elements that should be emphasized.
        </p>
    </div>
    <div id="mono-1" style="background-color: #181818">
        <div class="color-text">
            (18, 18, 18)
            <br>
            #181818
        </div>
    </div>
    <div id="mono-2" style="background-color: white">
        <div class="color-text" style="color: black">
            (255, 255, 255)
            <br>
            #FFFFFF
        </div>
    </div>
    <div id="mono-text" class="grid-text">
        <h3>Monochrome</h3>
        <p>Monochrome colors are used for basic UX/UI elements,
            such as website backgrounds.
        </p>
    </div>
</div>