<div class="navigation">
    {% if page.title == "ACM Design" %}
      <div class="navigation-home">
        <a href="{{ site.baseurl }}/"><h2>ACM Design</h2></a>
      </div>
      <ul>
        {% for node in site.pages %}
          {% if node.title != "ACM Design" %}
            <li><a href="{{ node.url | prepend: site.baseurl }}" class="not-active">{{ node.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <div class="navigation-home">
        <a href="{{ site.baseurl }}/"><h2>ACM Design</h2></a>
      </div>
      <ul>
        {% for node in site.pages %}
          {% if node.title != "ACM Design" %}
            {% if page.url contains node.url %}
              <li><a href="{{ node.url | prepend: site.baseurl }}"  class="active">{{ node.title }}</a></li>
              {% if node.title == "Committees" %}
                {% for committee in site.committees %}
                  <ul>
                    <li><a href="{{ committee.url }}">{{ committee.title }}</a></li>
                  </ul>
                {% endfor %}
              {% endif %}
            {% else %}
              <li ><a href="{{ node.url | prepend: site.baseurl }}" class="not-active">{{ node.title }}</a></li>
              {% if node.title == "Committees" %}
                {% for committee in site.committees %}
                  <ul>
                    <li><a href="{{ committee.url }}">{{ committee.title }}</a></li>
                  </ul>
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
</div>
