<head>
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl}}/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css?family=Chivo:300,400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>
