<nav class="navbar is-spaced is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.baseurl }}/">{% include 'ucla-acm-logo.svg' %}</a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        {% for node in collections.nav %}
        {% if node.data.title == "Committees" %}

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-item">{{ node.data.title }}</a>
            <div class="navbar-dropdown">
                {% for committee in committees %}
                <script>console.log("{{ committee.filename }}")</script>
                {% if page.url contains committee.filename %}
                <a href="{{ site.baseurl }}/committees/{{ committee.filename }}/"
                    class="navbar-item active-{{ committee.filename | downcase}}">{{ committee.title }}</a>
                {% else %}
                <a href="{{ site.baseurl }}/committees/{{ committee.filename }}/"
                    class="navbar-item committee-not-active">{{ committee.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        {% else %}
            <div class="navbar-item">
            {% if page.url == node.url %}
                <a href="{{{{ node.url | prepend: site.baseurl }}" class="active">{{ node.data.title }}</a>
            {% else %}
                <a href="{{{{ node.url | prepend: site.baseurl }}" class="not-active">{{ node.data.title }}</a>
            {% endif %}
        {% endif %}
        </div>
    {% endfor %}
    </div>
  </div>
</nav>