@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Code+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

$font-display: "Poppins", sans-serif;
$font-header: "Poppins", sans-serif;
$font-body: "Open Sans", sans-serif;
$font-code: "Source Code Pro", monospace;
$primary-board: #3b59ed;
$primary-hack: #c960ff;
$primary-acmw: #1bc3a9;
$primary-ai: #1ebdf4;
$primary-icpc: #ff6b6b;
$primary-studio: #fb4469;
$primary-cyber: #ffba44;
$primary-design: #fe823c;
$primary-teachla: #a1d900;
$primary-acm: #1e6cff;
$primary-black: #242424;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
