.navigation {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: white;

  /* The 'About' and 'Guidelines' links -- 'Committees' is separate due to dropdown menu */
  .links {
    display: block;
    float: right;

    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    
    padding: 30px 12.5% 30px 30px;
    a {
        padding: 0 2.5vw 0; 
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
    }
  }
}

/* 'Committees' link */ 
.navigation-committee {
  position: relative;
  display: inline-block;

  .dropbtn {
    font-family: inherit;
    font-weight: inherit;
    border: none;
    cursor: pointer;
  }

  /* the individual committee buttons when dropped down */
  .dropdown-content {
    display: none; // hidden by default -- shown only when hovering
    position: absolute;
    background-color: #242424;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* individual links */
    a {
      padding: 16px 16px;
      text-decoration: none;
      text-align: left;
      display: block;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &:hover .dropdown-content {display: block;}
}

/* 'acm at UCLA' logo */
.navigation-home {
  float: left;
  padding: 30px 30px 30px 15%;
}

.active {
  color: $primary-board;
}

.not-active {
  color: #3A3A3A;
}

.committee-not-active {
  color: white;
}