.landing-page-links {
    display: inline-block;
    position: relative;
    width: 23%;
    height: 10vw;
    margin: 0 1.5% 2vw 0;
    background-color: #ECECEC;
    border-radius: 8px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70%;
    }
}