body {
  margin: 0;
  font-family: $font-body;
  width: 100vw;
}

.active-hack {
  color: $primary-hack;
}

.active-w {
  color: $primary-acmw;
}

.active-ai {
  color: $primary-ai;
}

.active-icpc {
  color: $primary-icpc;
}

.active-studio {
  color: $primary-studio;
}

.active-cyber {
  color: $primary-cyber;
}

.active-design {
  color: $primary-design;
}

.active-teachla {
  color: $primary-teachla;
}

.active-acm {
  color: $primary-acm;
}

/* ----------------------------------*/
.active-hack-bg {
  background-color: $primary-hack;
}

.active-w-bg {
  background-color: $primary-acmw;
}

.active-ai-bg {
  background-color: $primary-ai;
}

.active-icpc-bg {
  background-color: $primary-icpc;
}

.active-studio-bg {
  background-color: $primary-studio;
}

.active-cyber-bg {
  background-color: $primary-cyber;
}

.active-design-bg {
  background-color: $primary-design;
}

.active-teachla-bg {
  background-color: $accent-teachla;
}

.active-acm-bg {
  background-color: $primary-acm;
}

.content {
  width:100%;
}

.image-full-width {
    object-fit: cover;
    width: 100vw;
}

.committee-container {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  padding-left: -20px;
  padding-right: -20px;
  margin: 0;

  img {
    width: 100vw;

  }
}

#committee-h2{
  padding-bottom: 0.55rem;
  font-size: 1.5rem;
  color: #737373;
}

#committee-p{
  font-weight: 600;
  font-family: "Poppins";
}

.color-container {
  display: inline-block;
  vertical-align: top;
  background-color: #DADADA;
  width: 160px;
  font-size: 12px;
  margin: 10px 5px 0 0;
  border-radius: 5px;
  border: 1px solid rgba(#DADADA, 0.1);
  height: 135px;

  .color {
    height: 50px;
    border-radius: 5px 5px 0 0;
  }

  .color-label {
    padding: 10px;
    height: 95px;
    border-radius: 0 0 5px 5px;
    font-size: 14px;

    .color-name {
      font-weight: 700;
    }

    p {
      margin: 0;
    }
  }
}

.dl-container {
  display: inline-block;
  vertical-align: top;
  background-color: #F5F5F5;
  font-size: 0.75em;
  border-radius: 5px;
  height:200px;

  .dl-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    color: #2E2E2E;
    border-radius: 0px 0px 5px 5px;
    border: 0.5px solid #CFCFCF;
    height: 60px;

    img {
      width: 100%;
      max-width: 13px;
      padding-left: 3px;

      transition: 0.5s;

      &:hover {
        transform: scale(1.08);
      }
    }
  }

  .dl-content-light {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px 5px 0px 0px;
    border: 0.5405px solid #CFCFCF;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95px;

    img {
      width: 100%;
      transition: 0.5s;

      &:hover {
        transform: scale(1.08);
      }
    }
  }

  .dl-content-dark {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px 5px 0px 0px;
    border: 0.5405px solid #CFCFCF;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95px;
    background: black;

    img {
      width: 100%;
      transition: 0.5s;

      &:hover {
        transform: scale(1.08);
      }
    }
  }
}

.type-container {
  border-left: 10px solid $primary-black;
  margin-left: -30px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #DADADA;

  h1 {
    font-size: 3em;
    margin-top: 0;
    line-height: 2em;
    font-family: inherit;
  }

  p {
    margin: 0;
    font-size: 1.2em;

    &.type-upper {
      text-transform: uppercase;
    }
  }
}

.ok-bad {
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  background-color: white;

  .asset-content-ok-bad {
    border-radius: 9.28px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95px;
    background: white;

    img {
      width: 100%;
    }

  }
  .asset-title-ok-bad {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.12em;

  }
}

.landing-text{
  margin-top: 100px;
}

.landing-page-links {
    margin: 0;
    background-color: #ECECEC;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img { height:30px; }
    #acm { height:52px; }
    p { margin-bottom:0px; }
}

.partials-container-lg {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;

  .partials-content-lg {
    padding-bottom: 8px;

    img {
      width: 100%;
    }
  }

  .partials-title-lg {
    font-family: Poppins;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 20px;
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #434343;

    img {
      width: 100%;
      max-width: 16px;
      padding-left: 3px;

      transition: 0.5s;

      &:hover {
        transform: scale(1.08);
      }
    }
  }
}


.color-grid-container {
  grid-column: c1 / span 12;

  display: grid;
  max-width: 925px;
  grid-template-areas:
    "primary primary primary primary-text"
    "secondary-1 secondary-2 secondary-3 secondary-text"
    "accent accent accent accent-text"
    "gradient gradient gradient gradient-text";
  gap: 10px;
  height: 30rem;

  #primary {
    grid-area: primary;

    border-radius: 4.71541px;
  }

  #primary-text {
    grid-area: primary-text;
  }

  #secondary-1 {
    grid-area: secondary-1;

    border-radius: 4.71541px;
  }

  #secondary-2 {
    grid-area: secondary-2;
    background: cyan;
    border-radius: 4.71541px;
  }

  #secondary-3 {
    grid-area: secondary-3;
    background: red;
    border-radius: 4.71541px;
  }

  #secondary-text {
    grid-area: secondary-text;
  }

  #accent {
    grid-area: accent;
    background: lavender;
    border-radius: 4.71541px;
  }

  #accent-text {
    grid-area: accent-text;
  }

  #gradient {
    grid-area: gradient;
    background: skyblue;
    border-radius: 4.71541px;
  }

  #gradient-text {
    grid-area: gradient-text;
  }

  >div {
    position: relative;

    .color-text {
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      padding: 1rem;
      font-size: 0.8rem;
    }
  }

  .grid-text {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.33125rem;
    line-height: 37px;
  }

}

.guidelines-color-grid-container {
  display: grid;
  width: 100%;
  grid-template-areas:
    "primary primary primary primary primary primary primary-text"
    "secondary-1 secondary-1 secondary-2 secondary-2 secondary-3 secondary-3 secondary-text"
    "accent accent accent accent accent accent accent-text"
    "gradient gradient gradient gradient gradient gradient gradient-text"
    "mono-1 mono-1 mono-1 mono-2 mono-2 mono-2 mono-text";
  gap: 10px;
  grid-template-columns: repeat(6, 1fr) 50%;

  #primary {
    grid-area: primary;

    border-radius: 4.71541px;
  }

  #primary-text {
    grid-area: primary-text;
  }

  #secondary-1 {
    grid-area: secondary-1;

    border-radius: 4.71541px;
  }

  #secondary-2 {
    grid-area: secondary-2;
    background: cyan;
    border-radius: 4.71541px;
  }

  #secondary-3 {
    grid-area: secondary-3;
    background: red;
    border-radius: 4.71541px;
  }

  #secondary-text {
    grid-area: secondary-text;
  }

  #accent {
    grid-area: accent;
    background: lavender;
    border-radius: 4.71541px;
  }

  #accent-text {
    grid-area: accent-text;
  }

  #gradient {
    grid-area: gradient;
    background: skyblue;
    border-radius: 4.71541px;
  }

  #gradient-text {
    grid-area: gradient-text;
  }

  #mono-1 {
    grid-area: mono-1;
    border-radius: 4.69765px;
  }

  #mono-2 {
    grid-area: mono-2;
    border: 2.34882px solid #EEEEEE;
    border-radius: 4.69765px;
  }

  #mono-text {
    grid-area: mono-text;
  }

  >div {
    position: relative;

    .color-text {
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      padding: 1rem;
      font-size: 0.8rem;
    }
  }

  .grid-text {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

    h3 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 1.33125rem;
      line-height: 37px;
      margin-top:0;
    }
    p{
      margin-top: 0;
    }
  }

}

#bottom-img {
  width:100%;
  padding-top: 1rem;
  padding-bottom: 0;
}

.guidelines-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}


.section-guidelines{
  // h2,h3,p{
  // padding-top: 15px;
  // padding-bottom: 15px;
  // }
}
.center-figure{
  display:flex;
  justify-content: center;
  width:100%;
}

.typography-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
  
}

.art-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
  width: 100%;
  
}

.landing-page-welcome {
  display: initial;
  text-align: center;
  h2 {
    font-size: 4.25rem;
  }
  p {
    font-size: 1rem;
    color: #818181;
  }
}

.landing-page-grid {
  display: flex;
  justify-content: center;
  .grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vw;
    width: 70vw;
    div {
      aspect-ratio: 1;
    }
  }
}

// tablet
@media only screen and (max-width: 1000px) {}

//mobile
@media only screen and (max-width: 400px) {}