body {
  margin: 0;
  font-family: $font-body;
  width: 100vw;
  height: 100vh;
}

footer {
  height: 70px;
  padding-top: 20px;
  font-family: $font-header;
  background-color: #2E2E2E;
  color: white;
  text-align: center;
  
  p {
    margin: 0;
  }
}

.navigation {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #242424;
  ul {
    padding: 0 0 0 30px;
    line-height: 50px;
    list-style-type: none;
    font-weight: 700;
    font-size: 20px;
    a {
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
    }
    li {
      font-family: $font-display;

    }
  }
}

.navigation-home {
  font-family: $font-display;
  background-color: #2E2E2E;
  a {
    text-decoration: none;
    h2 {
      line-height: 60px;
      color: $primary-board;
      font-weight: 500;
      margin: 0;
      padding: 10px 0px 10px 30px;
    }
    span {
      color: white;
      font-weight: 700;
    }
  }
}

.navigation-committee {
  left: 50px;
}

.active {
  color: $primary-board;
}

.not-active {
  color: white;
}

.page-header {
  position: fixed;
  left: 250px;
  width: 100%;
  margin: 0;
  padding: 10px 250px 10px 0px;
  line-height: 60px;
  font-family: $font-display;
  font-weight: 800;
  background-color: white;
  border-bottom: 2px solid #DADADA;
  box-sizing: border-box;
  text-align: center;
}

.active-hack {
  color: $primary-hack;
}

.active-w {
  color: $primary-acmw;
}

.active-ai {
  color: $primary-ai;
}

.active-icpc {
  color: $primary-icpc;
}

.active-studio {
  color: $primary-studio;
}

.active-cyber {
  color: $primary-cyber;
}

.active-design {
  color: $primary-design;
}

.active-teachla {
  color: $primary-teachla;
}

.content {
  margin-left: 250px;
  width: auto;
}

.content-body {
  padding: 150px 20% 50px;
  font-size: 20px;
  color: #242424;
  h1,h2,h3 {
    font-family: $font-header;
    margin-bottom: 0em;
    margin-top: 1.5em;
    clear: both;
  }
  h1 {
    line-height: 1em;    
  }
  p {
    line-height: 1.6em;
  }
  .button { 
    display: table;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #2E2E2E;
    font-size: 0.75em;
    text-align: center;
    border-radius: 5px;
    background-color: #DADADA;
    box-shadow: 0px 3px #242424;
    width: auto;
    clear: both;
    &:hover {
      background-color: $primary-board;
      color: white;  
      transition: 0.1s;
    }
    &:active {
      transform: translateY(3px);
      box-shadow: 0px 0px;
      transition: 0.1s;      
    }
  }
  #logo {
    display: block;
    max-width: 150px;
    margin: 0 auto;
  }
  .image-full-width {
    max-width: 100%;
  }
  
}

.committee-container {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  width: 25em;
  transition: 0.2s;
  &:hover{
    transform: scale(1.08);
  }
  &.committee-title {
    font-size: 20px;
    transition: none;
    &:hover{
      transform: none;
    }
  }
  .committee-logo {
    float: left;
    width: 8em;
    padding: 0.8em;
    img {
      max-width: 100%;
    }
  }
  .committee-description {
    float: right;
    width: 17em;
    color: $primary-black;
    h1 {
      font-family: $font-display;
      margin-top: 1.25em;
    }
    p {
      margin-top: 0.25em;
      line-height: 1.2em;
    }
  }
}

.color-container {
  display: inline-block;
  vertical-align: top;
  background-color: #DADADA;
  width: 160px;
  font-size: 12px;
  margin: 10px 5px 0 0;
  border-radius: 5px;
  border: 1px solid rgba(#DADADA, 0.1);
  height: 135px;
  .color {
    height: 50px;
    border-radius: 5px 5px 0 0;      
  }
  .color-label {
    padding: 10px;
    height: 95px;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    .color-name {
      font-weight: 700;
    }
    p {
      margin: 0;
    }
  }
}

.dl-container {
  display: inline-block;
  vertical-align: top;
  background-color: #DADADA;
  width: 160px;
  font-size: 12px;
  margin: 10px 5px 0 0;
  border-radius: 5px;
  .dl-title {
    padding: 10px;
    background-color: #2E2E2E;
    color: white;
    border-radius: 5px 5px 0 0;
  }
  .dl-content {
    padding: 20px;
    border-radius: 0 0 5px 5px;
    min-height: 70px;
    img {
      width: 100%;
      transition: 0.5s;
      &:hover {
        transform: scale(1.08);
      }
    }
  }
}

.type-container {
  border-left: 10px solid $primary-black;
  margin-left: -30px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #DADADA;
  h1 {
    font-size: 3em;
    margin-top: 0;
    line-height: 2em;
    font-family: inherit;
  }
  p {
    margin: 0;
    font-size: 1.2em;
    &.type-upper {
      text-transform: uppercase;
    }
  }
}

// tablet
@media only screen and (max-width: 1000px){

}

//mobile
@media only screen and (max-width: 400px){

}
