body {
  margin: 0;
  font-family: $font-body;
  width: 100vw;
  height: 100vh;
}

.active-hack {
  color: $primary-hack;
}

.active-w {
  color: $primary-acmw;
}

.active-ai {
  color: $primary-ai;
}

.active-icpc {
  color: $primary-icpc;
}

.active-studio {
  color: $primary-studio;
}

.active-cyber {
  color: $primary-cyber;
}

.active-design {
  color: $primary-design;
}

.active-teachla {
  color: $primary-teachla;
}

/* ----------------------------------*/
.active-hack-bg {
  background-color: $primary-hack;
}

.active-w-bg {
  background-color: $primary-acmw;
}

.active-ai-bg {
  background-color: $primary-ai;
}

.active-icpc-bg {
  background-color: $primary-icpc;
}

.active-studio-bg {
  background-color: $primary-studio;
}

.active-cyber-bg {
  background-color: $primary-cyber;
}

.active-design-bg {
  background-color: $primary-design;
}

.active-teachla-bg {
  background-color: $primary-teachla;
}

.content {
  width: auto;
}

.content-body {
  padding: 150px 15% 50px;
  font-size: 20px;
  color: #242424;
  h1,h2,h3 {
    font-family: $font-header;
    margin-bottom: 0em;
    margin-top: 1.5em;
    clear: both;

    font-family: Poppins;
    font-style: normal;
    display: flex;
    align-items: center;
    letter-spacing: 0.585em;
    text-transform: uppercase;

    color: #737373;
  }
  h1,h2 {
    line-height: 1em;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;    
  }

  // h2 for Applied Motif
  h3{
    font-weight: 600;
    font-size: 24.6676px;
    line-height: 37px;
    color: #131313;
  }
  p {
    line-height: 1.6em;
  }
  .button { 
    display: table;
    margin-top: 10px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-weight: 700;
    color: #2E2E2E;
    font-size: 0.75em;
    text-align: center;
    border-radius: 30.27px;
    background-color: #DADADA;
    width: auto;
    clear: both;
    &:hover {
      background-color: $primary-board;
      color: white;  
      transition: 0.1s;
    }
    &:active {
      transform: translateY(3px);
      box-shadow: 0px 0px;
      transition: 0.1s;      
    }
  }
  #logo {
    display: block;
    max-width: 150px;
    margin: 0 auto;
  }
  .image-full-width {
    max-width: 100%;
  }
  
}

.committee-container {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  width: 25em;
  transition: 0.2s;
  &:hover{
    transform: scale(1.08);
  }
  &.committee-title {
    font-size: 20px;
    transition: none;
    &:hover{
      transform: none;
    }
  }
  .committee-logo {
    float: left;
    width: 8em;
    padding: 0.8em;
    img {
      max-width: 100%;
    }
  }
  .committee-description {
    float: right;
    width: 17em;
    color: $primary-black;
    h1 {
      font-family: $font-display;
      margin-top: 1.25em;
    }
    p {
      margin-top: 0.25em;
      line-height: 1.2em;
    }
  }
}

.color-container {
  display: inline-block;
  vertical-align: top;
  background-color: #DADADA;
  width: 160px;
  font-size: 12px;
  margin: 10px 5px 0 0;
  border-radius: 5px;
  border: 1px solid rgba(#DADADA, 0.1);
  height: 135px;
  .color {
    height: 50px;
    border-radius: 5px 5px 0 0;      
  }
  .color-label {
    padding: 10px;
    height: 95px;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    .color-name {
      font-weight: 700;
    }
    p {
      margin: 0;
    }
  }
}

.dl-container {
  display: inline-block;
  vertical-align: top;
  background-color: #F5F5F5;
  width: 190px;
  font-size: 0.75em;
  margin: 10px 5px 0 0;
  border-radius: 5px;
  
  .dl-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:white;
    color: #2E2E2E;
    border-radius: 0px 0px 5px 5px;
    border: 0.5px solid #CFCFCF;
    height: 60px;
    img {
      width: 100%;
      max-width: 13px;
      padding-left: 3px;
      
      transition: 0.5s;
      &:hover {
        transform: scale(1.08);
      }
    }
  }
  .dl-content-light {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px 5px 0px 0px;
    border: 0.5405px solid #CFCFCF;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95px;
    img {
      width: 100%;
      transition: 0.5s;
      &:hover {
        transform: scale(1.08);
      }
    }
  }
  .dl-content-dark {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px 5px 0px 0px;
    border: 0.5405px solid #CFCFCF;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95px;
    background: black;
    img {
      width: 100%;
      transition: 0.5s;
      &:hover {
        transform: scale(1.08);
      }
    }
  }
}

.type-container {
  border-left: 10px solid $primary-black;
  margin-left: -30px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #DADADA;
  h1 {
    font-size: 3em;
    margin-top: 0;
    line-height: 2em;
    font-family: inherit;
  }
  p {
    margin: 0;
    font-size: 1.2em;
    &.type-upper {
      text-transform: uppercase;
    }
  }
}

.asset-container-ok-bad{
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  background-color: white;

  .asset-content-ok-bad{
    padding: 20px;
    border-radius: 9.28px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95px;
    background: white;
    img {
      width: 100%;
    }

  }
  .asset-title-ok-bad{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.12em;
    
  }


}


.partials-container-lg {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  margin: 10px 5px 0 0;
  border-radius: 5px;

  .partials-content-lg {
    padding: 20px;
    padding-bottom: 8px;
    img {
      width: 100%;
    }
  }
  
  .partials-title-lg {
    font-family: Poppins;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 20px;
    background-color:white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #434343;
    img {
      width: 100%;
      max-width: 16px;
      padding-left: 3px;
      
      transition: 0.5s;
      &:hover {
        transform: scale(1.08);
      }
    }
  }
}


.color-grid-container{
  display: grid;
  max-width: 925px;
  grid-template-areas: 
  "primary primary primary primary-text"
  "secondary-1 secondary-2 secondary-3 secondary-text"
  "accent accent accent accent-text"
  "gradient gradient gradient gradient-text" ;
  gap: 10px;
  height: 30rem;
  #primary{
    grid-area: primary;
    
    border-radius: 4.71541px;
  }
  #primary-text{
    grid-area: primary-text;
  }
  #secondary-1{
    grid-area: secondary-1;
    
    border-radius: 4.71541px;
  }
  #secondary-2{
    grid-area: secondary-2;
    background: cyan;
    border-radius: 4.71541px;
  }
  #secondary-3{
    grid-area: secondary-3;
    background: red;
    border-radius: 4.71541px;
  }
  #secondary-text{
    grid-area: secondary-text;
  }
  #accent{
    grid-area: accent;
    background: lavender;
    border-radius: 4.71541px;
  }
  #accent-text{
    grid-area: accent-text;
  }
  #gradient{
    grid-area: gradient;
    background: skyblue;
    border-radius: 4.71541px;
  }
  #gradient-text{
    grid-area: gradient-text;
  }
  > div {
    position: relative;
    
    .color-text{
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      padding: 1rem;
      font-size: 0.8rem;
    }
  }
  .grid-text{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.33125rem;
    line-height: 37px;
  }
  
}

// tablet
@media only screen and (max-width: 1000px){

}

//mobile
@media only screen and (max-width: 400px){

}
